.col-md-4
  = form_for([@album, @album.tracks.new]) do |f|
    .form-group
      = f.label :name, "Track"
      = f.text_field :name, placeholder: 'Name', class: 'form-control'
    .form-group
      = f.label :file, "Mp3"
      = f.file_field :file, class: 'form-control'
      = f.hidden_field :file_cache


    = f.submit class: 'btn btn-primary btn-block', id: "submit"
