= form_for([@album, @album.tracks.build]) do |f|
  .form-group
    = f.label :name, "Track"
    = f.text_field :name
  .form-group
    = f.label :file, "Mp3"
    = f.file_field :file
    = f.hidden_field :file_cache

  = f.submit class: 'btn btn-primary'

