.container
  %h2
    = link_to "Home", root_path
    >
    = link_to "#{@artist.name}", artist_path(@artist)


  %p= link_to "New album", new_artist_album_path(@artist)

  %h3 Albums
  = render @artist.albums

