%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
= csrf_meta_tags

//Assets
= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"

= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"

= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
